
*{
    text-decoration: none;
    transition: all ease 0.2s;
}


hr{
   border: solid #000825 5px; 
}
.collapse.navbar-collapse{
    justify-content: center;
    background-color: white;
}
.footer_1{
    padding: 50px;
    background: #212529;
}
#paragraph1{
    color: white;
}